<h1>Say Haaaaaaaaaaaaayyyyyyy</h1>

<h3>No, really, say haaayyy.</h3>
<%= render partial: 'form' %>

<table>
  <thead>
    <tr>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
